.data-box {
  border-radius: 5px;
  height: 45px;
  width: 45px;
  margin: 10px 0 0 10px;
  float: left;
  align-self: flex-end;
  display: block;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.data-box > div {
  margin: 0 auto;
  line-height: 2.6em;
  text-align: center;
  color: white;
  text-shadow: #000 0px 0px 2px;
}

.data-container {
  margin: 0 auto;
  width: 600px;
  height: 550px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

* {
  user-select: none;
}

.row > button {
  padding: 10px;
}

.controls {
  margin: 10px;
}

.progress {
  width: 540px;
  margin: 10px 0px 10px 10px;
}
